{% extends "object_detection/base.html" %}
{% load static %}
{% block content %}
<head>
    <style>
        body{
            background-image: url({% static 'img/pig.jpg' %});
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<h1 style="font-size:70px; text-align:center; color:blue;">Добро пожаловать на платформу распознания объектов</h1>
    <div  style="text-align:center;">
        <a href="{% url 'object_detection:dashboard' %}" >
            <button class="btn btn-success" >Перейти к панели управления</button>
        </a>
    </div>

{% endblock %}